@import "../variable.scss";

.chat-container{
  display: flex;
  flex-direction: column;
 height: 93%;
width: 100%;
}
.chatbot-text{
  width: 100%;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  overflow-y: auto;
  height: 70vh;
 
  p{
    font-weight: 500;
  }
  .bot-reply{
    display: flex;
    gap: 10px;
    align-items: flex-end;
    padding: 8px;
    .gray-reply{
      background-color: #D9D9D9;
      border-radius: 20px;
      padding: 30px;
      display: flex;
      align-items: center;
    }

  }

  .user-reply{
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 6px;
    .blue-reply{
      background-color: $secondary-color;
      border-radius: 20px;
      padding: 25px;
      display: flex;
      align-items: center;
      color: white;
    }

    .user-profile-pic{
      background-color: $secondary-color;
      padding: 10px;
      border-radius: 50%;
      width: 60px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;

      h1{
        font-size: 28px;
        font-size: 600;
        color: white;
      }
    }

  }

 
}

.respond-area{
  display: flex;
  justify-content: center;
  margin-top: auto;
  gap: 15px;
  align-items: center;
  width: 100%;
  padding-inline: 50px;
  padding-top: 15px;
  input{
    border: none;
    background-color: #989393;
    padding: 23px;
    border-radius: 50px;
    width: 600px;
    font-size: 16px;
    color: white;
  }
  .send{
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #4966CC;
    border-radius: 80px;
    width: 90px;
    height: 45px;
    color: white;
  }
}
.send-end{
  gap: 10px;
  display: flex;
}


.gray-reply{
  background-color: #D9D9D9;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
}

@media (max-width: 1080px) {
  .chat-container{
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 800px) {
 .chatbot-text{
  .bot-reply{
    .gray-reply{
      padding: 25px;
      text-align:start;
    }
  }
 }
}

@media (max-width: 560px) {
  .chatbot-text{
    padding-left: 20px;
  }
  .respond-area{
    padding-inline: 30px;
  }
}
@media (max-width:500px) {
  .respond-area{
    flex-direction: column;
    input{
      width: 100%;
    }
    .send{
      width: 90px;
    }
  }
}
@media (max-width: 480px) {
  .chatbot-text{
    padding-left: 10px;
    .bot-reply{
      .gray-reply{
        padding: 15px;
      }
    }

    .user-reply{
      .blue-reply{
        padding: 15px;
      }
    }
  }
  .respond-area{
    padding-inline: 30px;
  }
}

@media (max-width:425px) {
  .bot-image{
    scale: 0.8;
  }
  .chatbot-text{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    .user-reply{
      .user-profile-pic{
        scale: 0.8;
      }
      .blue-reply{
        padding: 10px;
      }
    }
    .bot-reply{
     
      .gray-reply{
        padding: 10px;
      }
    }
  }
  .respond-area{
    padding-inline: 10px;
  }
}