@import "../variable.scss";

.user-report{
  width: 100%;
}
.no-reports{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  text-align: center;
  h1{
    font-size: 40px;
    color: $secondary-color;
  }
}

.individual-report{
  display: flex;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  width: 100%;
 
  .left-report{
    display: flex;
    gap: 10px;

    .human{
      background-color: $secondary-color;
      padding: 10px;
      border-radius: 50%;
      width: 50px;
      height: 45px;
      display: flex;
      justify-content: center;
      

      i{
        font-size: 25px;
        color: white;
      }
    }

    .other{
      display: flex;
      flex-direction: column;
      gap: 5px;
    h3{
      font-size: 15px;
      color: #989393;
      font-weight: 400;
    }

    .diagosis{
      display: flex;
      align-items: center;
      gap: 10px;

      h2{
        font-size: 16px;
        font-weight: 600;
      }

      p{
        background-color: #D01717;
        color: white;
        font-weight: 600;
        padding: 10px;
        padding-inline: 30px;
       
        border-radius: 100px;
        width: fit-content;
        text-align: center;
      }
    }

    .bluey{
      color: $primary-color;
      cursor: pointer;
    }
    }
  }
  .summary{
    color: black;
    padding-block: 5px;
  }
  .right-report{
    margin-left: auto;

    p{
      color: #989393;
      font-size: 15px;
    }
  }
}

.reports{
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;flex-direction: column;
  gap: 35px;
  width: 100%;
}

.download{
  color: $primary-color;
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  cursor: pointer;
}

@media (max-width:1080px) {
  .user-report{
    padding-top: 80px;

   .user-h1{
      text-align: center;
    }
  }
 
}

@media (max-width: 570px) {
  .individual-report{
    .left-report{
      .other{
        .diagosis{
          p{
            padding-inline: 0px;
           
          }
        }
      }
    }
  }
}
@media (max-width: 525px) {
  .individual-report{
    flex-direction: column;
    .left-report{
      .other{
        .diagosis{
          p{
            padding-inline: 10px;
           
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .individual-report{
    flex-direction: column;
    .left-report{
      .other{
        .diagosis{
         flex-direction: column;
         align-items: flex-start;
        }
      }
    }
  }
}