@import "../variable.scss";

.left-settings{
  display: flex;
  gap: 20px;
  .left-initial{
    background-color: $secondary-color;
    width: 90px;
    height: 85px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   

    h1{
      font-size: 50px;
      color: white;
    }
  }
}

.first-part{
  margin-top: 45px;
  display: flex;
  background-color: white;
  padding: 50px;
  gap: 120px;
  width: 100%;
  border-radius: 20px;
  height: 230px;
  align-items: center;

  .ok-user{
    h2{
      font-size: 30px;
    }

    h1{
      font-size: 20px;
    }
  }
}

.second-part{
  display: flex;
  gap: 60px;
  .user-icon{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 440px;
    height: 280px;
    display: flex;
    align-items: center;
  }

  .hospitals{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 440px;
    height: 280px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 40px;
  }

  .individual-hosiptals{
    display: flex;
    gap: 10px;
    align-items: center;
    
    p{
      font-weight: 500;
    }
  .hospital-icon{
    background-color: $secondary-color;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      font-size: 23px;
      color: white;
    }
  
  } 

  }
}

.app-settings{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

@media (max-width: 1080px) {
  .app-settings{
    padding-top: 80px;
    .settings-header{
      text-align: center;
    }
  }
}

@media (max-width: 690px) {
  .second-part{
    gap: 40px;

    .hospitals{
      padding-left: 10px;
      width: 100%;

      p{
        br{
          display: none;
        }
      }
    }
    .user-icon{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}
@media (max-width:585px) {
  .first-part{
    gap: 60px;
    text-wrap: nowrap;
  }
}

@media (max-width: 500px) {
  .first-part{
    gap: 40px;
  }
  .second-part{
    flex-direction: column;
  .user-icon{
    img{
      width: fit-content;
    }
  }
    .hospitals{
      padding-left: 20px;
    }
  }
}

@media (max-width: 460px) {
  .first-part{
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
  }
}