@import "../variable.scss";
a{
  text-decoration: none;
}

.dashboard{
  display: flex;
  background-color: #F3F3F3;
  
}
.row{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.icon-name {
  cursor: pointer;
 

 

  &.active {
    background-color: $secondary-color;
    padding: 20px;
    padding-left: 50px;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}


.blue-side{
  width: 360px;
  background-color: $primary-color;
  padding-bottom: 30px;



  .signup-logo{
    padding-top: 15px;
    img{
      width: 200px;
    }
  }
.dashboard-tabs{
  display: flex;
flex-direction: column;
gap: 280px;
text-align: center;



  .active-tabs{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .app-sign{
    display: flex;
    flex-direction: column;
    gap: 25px;
    .start{
      border: none;
      color: white;
      background-color: #4966CC;
      padding: 8px;
      border-radius: 20px;
      width: 150px;
      font-size: 16px;
      margin-left: 50px;
      cursor: pointer;

    &:hover{
      background-color: #224adc;
    }
    }
    
  }
}
 
}

.icon-name{
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 50px;
 
  button{
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: white;

    &:hover {
      font-weight: 800;
    }
  }
  i{
    color: white;
    font-size: 23px;
  }
}
.dashboard-content{
  padding-top: 40px;
  padding-inline: 20px;
  display: flex;
  padding-bottom: 20px;
  gap: 30px;
  h1{
    font-size: 18px;
    font-weight: 500;
  }

  .hello-user{
    display: flex;
    gap: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 15px;

    .header-text{
      display: flex;
      flex-direction: column;
      gap: 3px;
    }

    h1{
      font-size: 20px;
      font-weight: 600;
    }
    p{
      font-size: 16px;
      font-weight: 500;
    }

    i{
      font-size: 50px;
      padding-top: 5px;
    }
  }

  .how-feeling{
    display: flex;
    gap: 50px;

    .smile-text{
      background-color: white;
      padding: 20px;
      width: 280px;
      text-align: center;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      p{
        color: #574F4F;
      }

      h2{
        font-size: 20px;
      }
      .emoji-border{
        background-color: $secondary-color;
        padding: 10px;
        width: 55px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        i{
          font-size: 28px;
          color: white;
        }

       
      }
    }
  }

  .medical-why{
    display: flex;
    gap: 40px;

    h1{
      font-weight: 600;
    }

    .medical{
      width: 610px;
      background-color: white;
      border-radius: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: fit-content;

      p{
        border-bottom: 1px solid #A69898;
      }
    }

    .why{
      width: 300px;
      background-color: white;
      border-radius: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 280px;

      i{
        font-size: 25px;
        color: $secondary-color;
      }

    .check-text{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    }
  }
}
.dashboard-profile{
  width: 400px;
  background-color: $primary-color;
  padding-right: 10px;
  .outer-border{
    margin-top: 38px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 300px;
    border-radius: 20px;
    height: 720px;
    margin-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
  }

  .user-details{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 283px;
    border-radius: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .name{
      h2{
        color: white;
        font-size: 30px;
        text-align: center;
        padding: 4px;
      }
    }
    .gender-age{
      display: flex;
      gap: 10px;

      p{
        color: white;
      }
    }

    .initials{
      background-color: $secondary-color;
      width: fit-content;
      height: fit-content;
      border-radius: 20px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      h1{
        font-size: 40px;
        color: white;
      }
    }
  }
  .bell{
    width: 40px;
    background-color: $secondary-color;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 40px;
    i{
      font-size: 20px;
      color: white;
    }
  }

  .more-resources{
    padding-top: 55px;
    padding-left: 20px;
    h3{
      font-size: 20px;
      color: white;
    }

    .individual-resource{
      display: flex;
      gap: 10px;
      padding-top: 25px;
      align-items: center;
      p{
        color: white;
       }
      .resource-border{
        background-color: white;
        padding: 10px;
        width: 50px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      
        i{
          font-size: 20px;
        }
      }
    }
  }
}

.footer{
  margin-top: 670px;

  ul{
    display: grid;
    grid-template-columns: 52% 50%;
     color: white;
    list-style: none;
    gap: 7px;
    padding-left: 20px;
    padding-right: 5px;
  }
 
 
}