@import "../variable.scss";

.login-page{
  display: flex;
 

 .logo-img{
  background-color: $primary-color;
  width: 730px;
 max-height: 800px;

 
.signup-logo{
  padding-top: 10px;
  img{
    width: 270px;
  }
}
 }

  form{
  padding-top: 30px;
 
  .signup-button{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    gap: 8px;

    button{
      width: 100%;
      border: none;
      font-size: 18px;
      padding: 15px;
      background-color: $secondary-color;
      border-radius: 20px;
      color: white;
      font-weight: 500;
      cursor: pointer;
    }
    
    h4{
      font-size: 15px;
      font-weight: 500;
    }
    h2{
      font-size: 18px;
      font-weight: 500;

      a{
        color: #0F3DDE;
      }
    }
  }
 
 }

 .login-img{
    padding-top: 40px;
    max-width: 800px;
    
   
   
   //  padding-top: 140px;
    img{
    
     width: 80%;
    }
   
    
 }
}

.welcome-input{
  width: 840px;
  padding-inline: 50px;
  padding-right: 75px;
  padding-top: 150px;
    h1{
      font-weight: 500;
      font-size: 35px;
    }

    p{
      font-size: 18px;
      font-weight: 500;
    }

  .input-field{
   display: flex;
   flex-direction: column;
   padding-top: 35px;
   label{
    font-size: 18px;
    font-weight: 500;
   }

  .password{
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
      font-size: 14px;
      color: #0F3DDE;
      font-weight: 500;
    }
  }

   input{
    background-color: #D9D9D9;
    border: none;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
   }
  }
  .inputs-field{
    padding-top: 20px;
    display: flex;
    gap: 10px;

    label{
      font-weight: 500;
      font-size: 14px;
    }
  }
  }

  @media (max-width: 1200px) {
    .welcome-input{
      padding-right: 35px;
      padding-inline: 35px;
    }
    .login-page{
      .logo-img{
        width: 40%;
      }
      .login-img{
        
        img{
          width: 500px;
        }
      }
    }
  }

  @media (max-width: 850px) {
   
    .login-page{
      .login-img{
        padding-top: 60px;
        img{
          width: 400px;
        }
      }
    }
  }

  @media (max-width: 700px) {
   
    .login-page{
      .logo-img{
        .signup-logo{
          img{
            width: 200px;
          }
        }
      }
      .login-img{
        padding-top: 100px;
        img{
          width: 400px;
        }
      }
    }
  }

  @media (max-width: 600px) {
   
    .login-page{
      .logo-img{
      display: none;
    }
  }

  .welcome-input{
    padding-top: 50px;
    padding-inline: 20px;
  }
}